* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header p { /*add links to section!*/
  margin: 0;
  color: black;
}
#header {
  background-color: blanchedalmond;
  background-position: cover;
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  color: lightskyblue;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
#header h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-banner{
  background-image: url("../images/02-portfolio-2.jpg");
  margin: auto;
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
}
#headline {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 5px solid lightskyblue;
  position: absolute;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 5%;
  justify-content: center;
}
.page-section {
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  
}
h2 {
  font-size: 25px;
  color: lightskyblue;
}
.sectionHeading {
  border-right: 5px solid lightskyblue;
  align-items: center;
  justify-content:center;
  margin: auto;
  margin-left: 10px;
}
#AboutMe {
  color: black
  font-size: large;
  justify-content: space-evenly;
  padding-left: 5%;
}